.square {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.white {
    background-color: #EEEED2;
    background-color: rgb(255, 246, 235);
    background-color: #EEEED2;
}

.black {
    background-color: #769656;
    background-color: rgb(177, 126, 77);
}

img {
    width: 95%;
    height: 95%;
    pointer-events: none;
}

.pieceful:hover {
    cursor: pointer;
}

.dragging {
    cursor: pointer;
}

.highlighted {
    background: rgba(255, 0, 0, 0.5);
}