:root {
  --bg: rgb(47, 47, 47);
  --cream: rgb(255, 250, 244);
  --off-white: rgb(241 241 241);
  --chipotle-red: rgb( 169 21 18);
  --chipotle-burgundy: rgb(70 20 0);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8em;
  width: 100vw;
  gap: 20px;
}

.top img {
  height: 100px;
  width: auto;
}

.text {
  text-align: center;
  color: var(--cream);
  text-decoration: bold;
}

.start-game {
  padding: 10px 20px;
  border: none;
  border-radius: 500px;
  color: var(--cream);
  font-size: 0.9em;
  background-color: var(--chipotle-red);
  transition: all ease 0.25s;
}

.start-game:hover {
  background-color: var(--chipotle-burgundy);
  cursor: pointer;
}

/* board */
.board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  height: 570px;
}

input {
  height: 20px;
  width: 100%;
  font-size: 20px;
  padding: 20px 0px;
  text-align: center;
  border-radius: 8px;
}

.boardstate-buttons {
  display: flex;
  width: 100%;
  gap: 20px;
}

.button {
  width: 100%;
  height: 40px;
}

/* moves grid */
.moves-stats {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.moves-headers {
  width: 500px;
  display: grid;
  grid-template-columns: 72px 0.75fr 1fr;
  justify-content: space-between;
  top: 0;
  margin: 0;
}

.moves-grid {
  width: 500px;
  height: 100%;
  background-color: var(--off-white);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 72px 0.75fr 1fr;
  overflow-y: auto;
}

.numbers > p{
  padding-left: 40px;
}

.column {
  display: flex;
  flex-direction: column;
  line-height: 16px;
  font-size: 16px;
}

.header {
  font-size: 24px;
  color: var(--off-white);
  margin: 0;
  margin-bottom: 12px;
}

.odd {
  padding: 12px 0;
  background-color: var(--off-white);
  margin: 0;
}

.even {
  padding: 12px 0;
  background-color: white;
  margin: 0;
}

.zero-num {
  font-size: 24px;
  color: transparent;
}

.zero {
  font-size: 24px;
}