:root {
  --bg: rgb(47, 47, 47);
  --cream: rgb(255, 250, 244);
  --off-white: rgb(241 241 241);
  --pre-hover-grey: #A8A8A8;
  --chipotle-red: rgb( 169 21 18);
  --chipotle-burgundy: rgb(70 20 0);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8em;
  width: 100vw;
  gap: 20px;
}

.top img {
  height: 100px;
  width: auto;
}

.text {
  text-align: center;
  color: var(--cream);
  text-decoration: bold;
}

.start-game {
  padding: 10px 20px;
  border: none;
  border-radius: 500px;
  color: var(--cream);
  font-size: 0.9em;
  background-color: var(--chipotle-red);
  transition: all ease 0.25s;
}

.start-game:hover {
  background-color: var(--chipotle-burgundy);
  cursor: pointer;
}

/* board */
.board {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 12px;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  height: 570px;
}

input {
  height: 20px;
  width: 100%;
  font-size: 20px;
  padding: 20px 0px;
  text-align: center;
  border-radius: 8px;
}

.board-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.undo {
  border-radius: 100px;
  padding: 8px 20px;
  font-size: 16px;
  color: var(--pre-hover-grey);
  transition: all ease 0.25s;
  background: url('undo-grey.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.undo:hover {
  background: url('undo-white.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--off-white);
  cursor: pointer;
}

.boardstate-buttons {
  display: flex;
  gap: 20px;
}

.button {
  width: 32px;
  height: 32px;
  background: url('arrow-grey.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  transition: all ease 0.25s;
}

.forward {
  transform: rotate(180deg);
}

.button:hover {
  cursor: pointer;
  background: url('arrow-white.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* moves grid */
.moves-stats {
  height: 648px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.moves-headers {
  width: 500px;
  display: grid;
  grid-template-columns: 72px 0.75fr 1fr;
  justify-content: space-between;
  top: 0;
  margin: 0;
}

.moves-grid {
  width: 500px;
  height: 600px;
  background-color: var(--off-white);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 72px 0.75fr 1fr;
  overflow-y: auto;
}

.numbers > p{
  padding-left: 40px;
}

.column {
  display: flex;
  flex-direction: column;
  line-height: 16px;
  font-size: 16px;
}

.header {
  font-size: 24px;
  color: var(--off-white);
  margin: 0;
  margin-bottom: 12px;
}

.odd {
  padding: 12px 0;
  background-color: var(--off-white);
  margin: 0;
}

.even {
  padding: 12px 0;
  background-color: white;
  margin: 0;
}

.zero-num {
  font-size: 24px;
  color: transparent;
}

.zero {
  font-size: 24px;
}