:root {
  --bg: rgb(47, 47, 47);
  --cream: rgb(255, 250, 244);
  --off-white: rgb(241 241 241);
  --chipotle-red: rgb( 169 21 18);
  --chipotle-burgundy: rgb(70 20 0);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.text {
  width: 100vw;
  text-align: center;
  color: var(--cream);
  text-decoration: bold;
}

.start-game {
  padding: 10px 20px;
  border: none;
  border-radius: 500px;
  color: var(--cream);
  font-size: 0.9em;
  background-color: var(--chipotle-red);
  transition: all ease 0.25s;
}

.start-game:hover {
  background-color: var(--chipotle-burgundy);
  cursor: pointer;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game {
  display: flex;
  justify-content: center;
  gap: 32px;
}

input {
  margin-top: 20px;
  width: 100%;
  font-size: 20px;
  padding: 20px 0px;
  text-align: center;
  border-radius: 8px;
}

.moves-grid {
  width: 500px;
  padding: 8px 40px;
  border-radius: 8px;
  background-color: var(--off-white);
  display: grid;
  grid-template-columns: 20px 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.column {
  display: flex;
  flex-direction: column;
  line-height: 20px;
}

.odd {
  background-color: white;
}